
    #imag{
        width: 50%;
        height: 500px;
        border:2px solid red;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #body{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: teal;
    }
    img{
        width: 100%;
        height: 100%;
    }
 
    #para{
        width: 50%;
        height: 500px;
        color:aliceblue;
        margin-left: 40px;
    }
    marquee{
        background-color: blueviolet;
        font-size: 70px;
    }
    #bottom{
        display: flex;
        justify-content: center;

    }
    #bottom img{
        width: 100px;
        height: 100px;
    }
    body{
        background-color: teal;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    @media all and (max-width: 800px){
        #body{
            display: block;
        }
        #imag{
            width: 80%;
            align-items: center;
            margin:auto
        }
        
        #para{
            margin: auto;
            width: 80%;
            height: unset;
        }
       
    }
    @media all and (max-width: 450px){
       h2{
        text-align: justify;
       }
       #imag{
        width: 100%;
       }
       marquee{
        font-size: 30px;
       }
    }